/* desktop display */

@media only screen and (max-width: 2600px) {
  .sm-site {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}

/* mobile display */

@media only screen and (max-width: 480px) {
  .lg-site {
    display: none;
  }
  .sm-site {
    display: block;
  }
  header {
    justify-content: space-around;
  }
  .logo {
    margin: 0;
  }
  #banner {
    flex-direction: column;
  }
  .banner-left {
    padding: 0;
    width: 100%;
  }
  .banner-right {
    margin: 0;
    width: 100%;
  }
  .banner-text {
    margin: 0;
    width: 100%;
  }
  .mobile-container {
    margin: 0 auto;
    width: 90%;
  }
  .side-img {
    margin: 0;
    width: 100%;
  }
  .side-info-container {
    width: 100%;
  }
  .side-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .side-img img {
    width: 100%;
  }
  .info {
    width: 100%;
  }
  #courses {
    background-color: white;
  }
  .video-container {
    padding: 0;
    width: 100%;
  }
  footer {
    padding: 2.5rem 0 1rem 1.5rem;
  }
}
