/* desktop */

@media only screen and (max-width: 1600px) {
  .sm-site {
    display: none;
  }
}

/* mobile */

@media only screen and (max-width: 480px) {
  .lg-site {
    display: none;
  }
  .sm-site {
    display: block;
  }
  header {
    justify-content: space-around;
  }
  .logo {
    padding: 0;
  }
  #banner {
    flex-direction: column;
  }
  .banner-img {
    width: 100%;
  }
  .banner-text {
    margin: 0;
    width: 100%;
  }
  .mobile-container {
    margin: 0 auto;
    width: 90%;
  }
  .side-img {
    margin: 0;
  }
  .side-info {
    width: 100%;
  }
  .side-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .side-img img {
    width: 100%;
  }
  .video-container {
    width: 100%;
  }
}
