/* universal style */

html, body {
  font-family: Helvetica;
  font-size: 16px;
  color: rgb(74, 107, 138);
}

span {
  display: inline-block;
}

a {
  text-decoration: none;
}

h1 {
  color: rgb(15, 32, 49);
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  color: rgb(15, 32, 49);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
}

.site-container {
  margin: 0 auto;
  width: 80%;
}

.flex-container {
  display: flex;
}

.align {
  align-items: center;
}

.between {
  justify-content: space-between;
}

/* header */

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 4rem;
  width: 100%;
  z-index: 5;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  font-size: 1.5rem;
}

.colmar {
  color: rgb(15, 32, 49);
}

.site-nav {
  padding-right: 1.5rem;
}

.site-nav a {
  color: rgb(74, 107, 138);
}

.site-nav a:visited {
  color: rgb(74, 107, 138);
}

/* main */

main {
  margin: 0 auto;
  padding-top: 4rem;
  width: 100%;
}

section {
  border-bottom: 1px solid lightgray;
  width: 100%;
}

/* banner */

#banner {
  background-color: rgb(74, 107, 138);
  background-image: linear-gradient(to bottom, rgb(74, 107, 138), rgb(211, 219, 227));
  width: 100%;
}

.banner-left {
  padding: 2rem 1.5rem;
  width: 60%;
}

.banner-img {
  height: auto;
  width: 100%;
}

.banner-right {
  width: 40%;
}

.banner-text {
  line-height: 1.5;
  margin-left: 2rem;
  width: 80%;
}

.banner-text p {
  font-size: 1.5rem;
}

.button {
  display: inline-block;
  background-color: rgb(15, 32, 49);
  color: white;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  padding: 1.5rem 0;
  text-align: center;
  width: 100%;
  transition: all 550ms ease-in;
}

.button:hover {
  background-color: rgb(74, 107, 138);
  box-shadow: 0 10px 12px rgba(42, 77, 110, 0.9);
}

/* information */

.main-container {
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 60%;
}

.main-info h1 {
  padding-top: 2rem;
}

.main-info p {
  padding: 2rem 0;
}

.main-img {
  height: auto;
  width: 100%;
}

.main-info p {
  font-size: 1.3rem;
}

.side-info-container {
  width: 40%;
}

.side-container {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  transition: all 550ms ease-in;
}

.side-container:hover {
  background-color: rgb(211, 219, 227);
  box-shadow: 0 10px 12px rgba(42, 77, 110, 0.9);
}

.side-img {
  margin: 1rem;
  height: auto;
  width: 35%;
}

.side-img.sm-site {
  padding-top: 1rem;
}

.info {
  line-height: 2;
  width: 65%;
}

/* courses */

#courses {
  background-color: rgb(211, 219, 227);
  background-image: linear-gradient(to top, rgb(74, 107, 138), rgb(211, 219, 227));
}

#courses h2 {
  padding: 2rem 0;
}

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 20rem;
  transition: all 550ms ease-in;
}

.course-container:hover {
  background-color: rgb(15, 32, 49);
  box-shadow: 0 10px 12px rgba(42, 77, 110, 0.9);
  color: #fff;
  transform: scale(1.1);
}

.course-container img {
  height: auto;
  width: 20rem;
}

.course-info {
  padding: 0 1.25rem;
  color: rgb(74, 107, 138);
}

.course-info:hover {
  color: #fff;
}

.course-info h3, .course-info h4 {
  padding-top: 1rem;
}

.course-info p {
  padding: 1.25rem 0;
}

.course-links {
  padding-bottom: 2rem;
}

.course-links h3 {
  margin-top: 0.5rem;
  width: 100%;
}

.course-links a {
  background-color: rgb(114, 140, 166);
  transition: all 550ms ease-in;
  color: rgb(15, 32, 49);
  display: block;
  padding: 1.5rem 1rem;
}

.course-links a:hover {
  background-color: rgb(15, 32, 49);
  box-shadow: 0 6px 12px rgba(42, 77, 110, 0.9);
  color: #fff;
}

/* thesis */

#thesis h2 {
  padding: 2rem 0;
}

.thesis {
  display: flex;
}

.video-container {
  padding: 0 1.5rem;
  width: 60%;
}

#thesis-video {
  width: 100%;
}

.video-text h3 {
  padding: 1.5rem 0;
}

.video-text p {
  line-height: 1.5;
  padding-bottom: 1.5rem;
}

/* footer */

footer {
  padding: 1rem 1.5rem 4rem;
}
