/* universal */

html, body {
  font-family: Helvetica;
  font-size: 16px;
  color: #404040;
}

span {
  display: inline-block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
}

/* header */

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 4rem;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.colmar {
  color: #333;
}

.academy {
  color: #999;
}

.site-nav {
  padding-right: 1.5rem;
}

.site-nav a {
  color: #404040;
}

.site-nav a:visited {
  color: #404040;
}

/* main */

main {
  margin: 0 auto;
  padding-top: 4rem;
  width: 100%;
}

section {
  border-bottom: 1px solid lightgray;
  width: 100%;
}

section:nth-child(2n+1) {
  background-color: lightgray;
}

/* banner */

#banner {
  display: flex;
  align-items: center;
  width: 100%;
}

.banner-left {
  padding: 2rem 1.5rem;
  width: 60%;
}

.banner-img {
  height: auto;
  width: 100%;
}

.banner-right {
  width: 40%;
}

.banner-text {
  line-height: 1.5;
  margin-left: 2rem;
  width: 22rem;
}

.banner-text p {
  font-size: 1.5rem;
}

.button {
  display: inline-block;
  background-color: #404040;
  color: white;
  padding: 1.5rem 0;
  text-align: center;
  margin-top: 1.5rem;
  width: 100%;
}

.button:hover {
  background-color: gray;
}

/* information */

#information {
  display: flex;
}

.main-container {
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: 60%;
}

.main-info h1 {
  padding-top: 2rem;
}

.main-info p {
  padding: 2rem 0;
}

.main-img {
  height: auto;
  width: 100%;
}

.main-info p {
  font-size: 1.3rem;
}

.side-info-container {
  width: 40%;
}

.side-container {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.side-img {
  margin: 1rem;
  height: auto;
  width: 35%;
}

.side-img.sm-site {
  padding-top: 1rem;
}

.info {
  line-height: 2;
  width: 65%;
}

/* courses */

#courses h2 {
  padding: 2rem 0;
}

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 25rem;
}

.course-container img {
  height: auto;
  width: 25rem;
}

.course-info {
  padding: 0 1.25rem;
}

.course-info h3, .course-info h4 {
  padding-top: 1rem;
}

.course-info p {
  padding: 1.25rem 0;
}

.course-links {
  padding-bottom: 2rem;
}

.course-links h3 {
  margin-top: 0.5rem;
  width: 100%;
}

.course-links a {
  background-color: #d8d8d8;
  color: #404040;
  display: block;
  padding: 1.5rem 1rem;
}

/* thesis */

#thesis h2 {
  padding: 2rem 0;
}

.thesis {
  display: flex;
}

.video-container {
  padding: 0 1.5rem;
  width: 60%;
}

#thesis-video {
  width: 100%;
}

.video-text h3 {
  padding: 1.5rem 0;
}

.video-text p {
  padding-bottom: 1.5rem;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 4rem;
}
