/* universal */

html, body {
  font-family: Helvetica;
  font-size: 16px;
  color: #404040;
}

span {
  display: inline-block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
}

/* header */

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 64px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.colmar {
  color: #333;
}

.academy {
  color: #999;
}

.site-nav {
  padding-right: 24px;
}

.site-nav a {
  color: #404040;
}

.site-nav a:visited {
  color: #404040;
}

/* main */

main {
  margin: 0 auto;
  padding-top: 64px;
  width: 100%;
}

section {
  border-bottom: 1px solid lightgray;
  width: 100%;
}

section:nth-child(2n+1) {
  background-color: lightgray;
}

/* banner */

#banner {
  display: flex;
  align-items: center;
  width: 100%;
}

.banner-hero {
  padding: 32px 24px;
  width: 60%;
}

.banner-img {
  height: auto;
  width: 100%;
}

.banner-text {
  line-height: 1.5;
  text-align: center;
  width: 40%;
}

.banner-text p {
  font-size: 1.5rem;
}

.button {
  display: inline-block;
  background-color: #404040;
  color: white;
  padding: 24px 0;
  text-align: center;
  margin-top: 24px;
  width: 90%;
}

/* information */

#information {
  display: flex;
}

.main-container {
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 60%;
}

.main-info h1 {
  padding-top: 32px;
}

.main-info p {
  padding: 32px 0;
}

.main-img {
  height: auto;
  width: 100%;
}

.main-info p {
  font-size: 1.3rem;
}

.side-info-container {
  width: 40%;
}

.side-container {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.side-img {
  margin: 16px;
  height: auto;
  width: 35%;
}

.side-img.sm-site {
  padding-top: 16px;
}

.info {
  line-height: 2;
  width: 65%;
}

/* courses */

#courses h2 {
  padding: 32px 0;
}

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 16px;
  width: 400px;
}

.course-container img {
  height: auto;
  width: 400px;
}

.course-info {
  padding: 0 20px;
}

.course-info h3, .course-info h4 {
  padding-top: 16px;
}

.course-info p {
  padding: 20px 0;
}

.course-links {
  padding-bottom: 32px;
}

.course-links h3 {
  margin-top: 8px;
  width: 100%;
}

.course-links a {
  background-color: #d8d8d8;
  color: #404040;
  display: block;
  padding: 24px 16px;
}

/* thesis */

#thesis h2 {
  padding: 32px 0;
}

.thesis {
  display: flex;
}

.video-container {
  padding: 0 24px;
  width: 60%;
}

#thesis-video {
  width: 100%;
}

.video-text h3 {
  padding: 24px 0;
}

.video-text p {
  padding-bottom: 24px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 64px;
}
